@charset 'UFT-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --backgroundcolor: hsl(233, 47%, 7%);
    --cardcolor: hsl(244, 38%, 16%);
    --colorimage: hsl(277, 64%, 61%);
    --paragraphcolor: hsla(0, 0%, 100%, 0.75);
    --statscolor: hsla(0, 0%, 100%, 0.6); 
    --titlefont: 'Inter', sans-serif; 
    --font02: 'Lexend Deca', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 97vh;
    margin: auto;
    background-color: var(--backgroundcolor);
    min-width: 360px;
    max-width: 1440px;
    flex-flow: row wrap-reverse;
}

#container {
    display: flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
    background-color: var(--cardcolor);
    border-radius: 10px;
    flex-wrap: wrap-reverse;
    min-width: 654px;
    max-width: 1440px;
}

picture {
    display: flex;
    min-width: 360px;
}

img {
    border-radius: 0px 10px 10px 0px;
    min-width: 360px;
}

/* Como diminuir a imagem do  picture ... background image??*/


#text {
    width: 360px;
    height: 340px;
    margin: auto;
    text-align: justify;
    flex-flow: row wrap;
}

#text h1 {
    color: white;
    font-family: var(--titlefont);
    font-weight: 700;
    margin-bottom: 30px;
}

b {
    color: var(--colorimage);
}

#firstp {
    color: var(--statscolor);
    font-family: var(--font02);
    font-size: 15px;
    font-weight: 400;

}

#stats {
    width: 400px;
    height: 57px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    font-size: small;
    font-weight: 400;
    color: var(--statscolor);

    
}

.secondp {
    color: var(--paragraphcolor);
    font-family: var(--font02);
    
}

span {
    display: inline-block;
    font-weight: 700;
    font-size: x-large;
    font-family: var(--titlefont);
    color: white;
    margin-bottom: 5px;
    
}

