@charset 'UFT-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --backgroundcolor: hsl(233, 47%, 7%);
    --cardcolor: hsl(244, 38%, 16%);
    --colorimage: hsl(277, 64%, 61%);
    --paragraphcolor: hsla(0, 0%, 100%, 0.75);
    --statscolor: hsla(0, 0%, 100%, 0.6); 
    --titlefont: 'Inter', sans-serif; 
    --font02: 'Lexend Deca', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100vh;
    margin: auto;
    background-color: var(--backgroundcolor);
}

#container {
    display: flex;
    width: 80%;
    height: 446px;
    justify-content: center;
    align-items: center;
    background-color: var(--cardcolor);
    border-radius: 10px;
}

picture {
    display: flex;
}

img {
    border-radius: 0px 10px 10px 0px;
}

#text {
    width: 400px;
    height: 340px;
    margin: auto;
    text-align: justify;
}

#text h1 {
    color: white;
    font-family: var(--titlefont);
    font-weight: 700;
    margin-bottom: 30px;
}

#firstp {
    color: var(--statscolor);
    font-family: var(--font02);
    font-size: 15px;
    font-weight: 400;

}

#stats {
    width: 400px;
    height: 57px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    
}

.secondp {
    color: var(--paragraphcolor);
    font-family: var(--font02);
    
}